---
layout: shop
title: 'Trade'
---

<div class="pg">
  {% for item in site.data.trade_list.items %}
    <div class="trade-item">
      <div class="covers">
        <a href="/trade/items/{{ item.hash }}">
          <img class="cover" src="/img/trade/{{ item.id }}/cover.jpg"/>
          <img class="back" src="/img/trade/{{ item.id }}/back.jpg"/>
        </a>
      </div>
      <!--
      {% if item.sample %}
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ item.sample }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      {% endif %}
      <strong>{{ item.artist }} - {{ item.title }}</strong>
      <em>
        Quality: record: {{ item.condition.vinyl }} /
        cover: {{ item.condition.cover }}
        {% if item.condition.extra %}
          / {{ item.condition.extra }}
        {% endif %}
      </em>
      <em>Label: {{ item.label }} ({{ item.label_id }})</em>
      <ul class="tags">
        {% for tag in item.genre %}
          <li>{{ tag }}</li>
        {% endfor %}
      </ul>
      -->
    </div>
  {% endfor %}
  <div class="clear"></div>

  {% include license.html %}
</div>
