---
layout: default
---

{% if site.live %}
	<div class="pg live">
		<img class='live' src="/img/live-sticker.png"/>
		<div id="mpd" data-src="{{ site.live_url }}"></div>
	</div>
{% else %}
	<div class='pg mixcloud'>
		<iframe frameborder='0' height='281' src='https://www.mixcloud.com/widget/iframe/?feed={{ site.mixcloud_url }}' width='100%'></iframe>
	</div>
{% endif %}


<div class='pg gigs'>
	<h2>Gigs</h2>

  <ul>
    {% for event_hash in site.data.events %}
      {% capture year %}
        {{ event_hash[0] }}
      {% endcapture %}

      <li>
        <strong> {{ event_hash[0] }}</strong>
        <ul class="{% if forloop.index == 1 %}open{% endif %}">
          {% for event in event_hash[1] %}
            {% capture nowunix %}
              {{'now' | date: '%s'}}
            {% endcapture %}

            {% capture posttime %}
              {{ event['date'] | date: '%s'}}
            {% endcapture%}

            <li class="{% if posttime < nowunix %}old{% endif %}" title="{% if event['as'] %}as {{ event['as'] }}{% endif %}">
              <span class="date">{{ event['date'] | date: '%d/%m' }}</span>
              <span class="event-name">{{ event['event'] }}</span>
						</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
