---
#
#
---

$pink:         #dcdc9c
$light-orange: #E54374

@font-face
  font-family: typo
  src: url(js/TypoSlabserif-Light.ttf)

body
  background-image: url('img/bg2.jpg')
  font-family: typo
  font-size: 1.3em
  color: black
  margin: 0

  .menu
    background-color: $pink
    text-align: center
    ul
      margin: 0
      position: relative

      > li
        list-style-type: none
        display: inline-block
        padding: 10px 0

        &.disabled
          background-color: #999

        &:hover
          background-color: $light-orange

        a
          padding: 15px 20px
          border-bottom: none

  .center
    width: 540px
    margin: 20px auto 0
    padding: 175px 0 30px 0

    .pages
      box-shadow: 0px 2px 20px 1px #444

    p.intro
      text-align: justify
  footer
    text-align: center


  &.collapse
    div.pg.logo
      display: none

    .center
      padding-top: 0

.bird-side
  position: absolute

  a
    border-bottom: none

    div
      font-size: 120%

  &.right
    top: 50px
    right: -163px
    text-align: right

  &.left
    top: 250px
    left: -163px

h2
  border-bottom: 4px solid $pink
  display: inline-block
  margin-bottom: 0px

p.small-logo
  text-align: center

  a
    border-bottom: none

p, li
  line-height: 1.5em

.gigs
  ul
    padding-left: 0
  strong
    border-bottom: 1px solid $pink
    margin-bottom: 5px
    display: inline-block

    &:hover
      cursor: pointer

  > ul > li
    margin-bottom: 20px

    > ul
      display: none
      &.open
        display: block

      > li
        line-height: 35px
        &.old
          opacity: 0.5

          > .event-name
            text-decoration: line-through

  ul > li span.date
    padding: 2px 5px
    border-right: solid $pink 1px
    font-weight: bold
    margin: 10px 0
    background-color: $pink

  li
    list-style-type: none

em.note
  font-size: 70%
  display: block

a
  text-decoration: none
  border-bottom: 2px dotted $pink
  font-weight: bold
  color: black
  &:visited, &:active
    color: black

div.birds
  background: url('/img/birds.png') no-repeat top center
  position: relative

div.pg
  position: relative
  padding: 15px 20px
  border-bottom: 5px $pink dotted
  background-color: #f3f3f3

  &.about
    img
      width: 100%

  &.pagination
    text-align: center

  &.logo
    background-color: transparent
    border-bottom: none
    padding: 0
    height: 270px
    overflow: hidden

    a
      border: none

    p
      text-align: center

  &.mixcloud
    padding: 0
    border-bottom: none
    background-color: transparent
    margin-bottom: -6px

  &.live
    background-color: $pink
    text-align: center

    img.live
      position: absolute
      top: -15px
      right: 20px

    #mpd
      margin-top: 5px

  &.post
    img.cover
      width: 100%

    p
      text-align: justify

    div.intro
      font-style: italic

    ul.tags
      padding-left: 0

      li
        display: inline-block
        background-color: $pink
        padding: 2px 5px
        margin-bottom: 5px

a.btn
  background-color: $pink
  border-bottom: none
  padding: 9px 18px
  font-size: 120%
  margin: 10px 0

  &.big
    display: inline-block
    box-shadow: 2px 2px 2px 1px $light-orange

  &.big:hover
    background-color: $light-orange

footer
  margin: 25px 0 15px 0

.slider-wrapper
  position: relative

.slider
  position: relative
  overflow: auto
  li
    list-style: none
  ul li
    float: left

.slider-wrapper a.btn
  position: absolute
  bottom: 0

a.btn
  &.prev
    left: -4px
  &.next
    right: -2px

span.or
  font-size: 120%
  font-weight: bold
  padding: 9px 6px 9px 11px
  margin: 10px 0

@media only screen and (max-width: 575px)
  body .center
    width: 100%

    margin: auto
    padding-top: 0

  h1
    font-size: 120%

  h2, a.btn.big
    font-size: 110%

  h3
    font-size: 105%

  .photo img
    width: calc(100% - 10px)
    width: -moz-calc(100% - 10px)
    width: -webkit-calc(100% - 10px)

  img
    width: 100%
    &.logo
      display: block
      margin: 0 auto
      width: 200px

    &.live
      display: none

  .pg.post a[rel=license] img
    width: auto

  div.pg.logo
    height: 125px

  div.birds
    background: none

  a.btn
    &.prev
      left: 0
    &.next
      right: 0

span.extra
  color: #888
  font-size: 80%
