---
#
#
---

$white: #ffffff
$black: #000000
$background: #f3f3f3

body
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  font-size: 1.3em
  color: black
  margin: 0

  .front.mix
    background: url('img/radio/front.jpg') no-repeat 0 86%
    height: 200px

    audio
      width: 100%

  .menu
    background-color: $background
    text-align: center
    border-top: dashed $black 2px
    border-bottom: dashed $black 2px
    ul
      padding-left: 0
      margin: 0
      position: relative

      > li
        list-style-type: none
        display: inline-block
        padding: 10px 0

        &.disabled
          background-color: #999

        &:hover
          background-color: $black

          a
            color: $white

        a
          padding: 15px 20px
          border-bottom: none

  .center
    width: 640px
    margin: 20px auto 0
    padding: 5px 0 30px 0

    .pages

    p.intro
      text-align: justify
  footer
    text-align: center


  &.collapse
    div.pg.logo
      display: none

    .center
      padding-top: 0

  &.posts
    .post
      div.wrap
        position: relative
        margin: 20px 0

      .info-bar
        position: absolute
        bottom: 0
        ul.tags, a
          display: inline-block

      ul.tags
        margin-top: 0
        float: right

      a.read-more
        background-color: $background
        padding: 2px 5px
        margin: 0 5px 5px 10px
        line-height: 2em
        border-bottom: none

        &:hover
          background-color: darken($background, 5)


.clear
  clear: both

.bird-side
  position: absolute

  a
    border-bottom: none

    div
      font-size: 120%

  &.right
    top: 50px
    right: -163px
    text-align: right

  &.left
    top: 250px
    left: -163px

h1
  font-size: 200%

h2
  display: inline-block
  margin-bottom: 0px

p.small-logo
  text-align: center

  a
    border-bottom: none

p, ul, ol
  line-height: 2.0em

div.divider
  display: block
  border-bottom: 2px $black dashed

.gigs
  ul
    padding-left: 0
  strong
    border-bottom: 1px solid $black
    margin-bottom: 5px
    display: inline-block

    &:hover
      cursor: pointer

  > ul > li
    margin-bottom: 20px

    > ul
      display: none
      &.open
        display: block

      > li
        margin: 13px 0
        span.date
          margin-right: 5px
        &.old
          opacity: 0.5

  ul > li span.date
    color: $black
    border-right: solid $white 1px
    font-weight: bold
    margin: 10px 0

  li
    list-style-type: none

em.note
  font-size: 70%
  display: block

a
  text-decoration: none
  border-bottom: 2px dashed $black
  font-weight: bold
  color: black
  &:visited, &:active
    color: black

div.pg
  position: relative
  padding: 15px 20px
  border-bottom: 2px $black dashed
  background-color: $background

  &.shop
    padding-bottom: 30px

  &.about
    img
      width: 100%

  &.pagination
    text-align: center

  &.logo
    background-color: transparent
    border-bottom: none
    padding: 0
    height: 280px
    margin-bottom: 20px
    overflow: hidden

    a
      border: none
      text-align: center
      display: block

      img
        width: 270px

    p
      text-align: center

  &.mixcloud
    padding: 0
    border-bottom: none
    background-color: transparent
    margin-bottom: -6px

  &.live
    background-image: url('/img/live.jpg')
    background-repeat: no-repeat
    background-size: 100% auto
    text-align: center
    height: 608px

    #mpd
      margin-top: 5px

      audio
        width: 100%

  &.post
    img
      display: block

    img.cover,
    audio
      width: 100%

    ol
      margin-top: 0

    ol.end_of_year_list
      padding-left: 0
      list-style-position: inside

      li
        margin-bottom: 30px

        img
          margin-top: 5px
          display: block

    p
      text-align: justify

    div.info
      margin-top: 10px
      font-size: 70%
      font-style: italic

    div.intro
      font-style: italic

ul.tags
  padding-left: 0
  margin-bottom: 0

  li
    display: inline-block
    background-color: $white
    padding: 2px 5px

a.btn
  background-color: $white
  border-bottom: none
  padding: 9px 18px
  font-size: 120%
  margin: 10px 0

  &.big
    display: inline-block
    box-shadow: 2px 2px 2px 1px $black

  &.big:hover
    background-color: $black

footer
  margin: 25px 0 15px 0

.slider-wrapper
  position: relative

.slider
  position: relative
  overflow: auto
  li
    list-style: none
  ul li
    float: left

.slider-wrapper a.btn
  position: absolute
  bottom: 0

a.btn
  &.prev
    left: -4px
  &.next
    right: -2px

span.or
  font-size: 120%
  font-weight: bold
  padding: 9px 6px 9px 11px
  margin: 10px 0

@media only screen and (max-width: 675px)
  body .center
    width: 100%

    margin: auto
    padding-top: 0

@media only screen and (max-width: 575px)
  h1
    font-size: 120%

  h2, a.btn.big
    font-size: 110%

  h3
    font-size: 105%

  .photo img
    width: calc(100% - 10px)
    width: -moz-calc(100% - 10px)
    width: -webkit-calc(100% - 10px)

  img
    width: 100%
    &.logo
      display: block
      margin: 0 auto
      width: 200px

    &.live
      display: none

  .pg.post a[rel=license] img
    width: auto

  div.pg.logo
    margin-bottom: 0

  div.wrap div.info-bar
    bottom: 5px !important
    a.read-more
      font-size: 70%
    ul.tags, ul.tags li
      display: none

  a.btn
    &.prev
      left: 0
    &.next
      right: 0

  .menu ul > li:first-child
    display: none

span.extra
  color: #888
  font-size: 80%
