-# SETTINGS
- require 'yaml'
- require 'uri'
- mixcloud_url = URI.encode("https://www.mixcloud.com/drunkenmarias/podcast-5-discotronics-mumbo-jumo/")
-# END SETTINGS

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, user-scalable=no", :name => "viewport"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %title Drunken Maria's
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    .center
      .pg.intro
        %p
          %img.logo{:src => "logo.png"}/
        %p.intro
          Luister hier naar een van de vele Drunken Marias podcasts!

      .pg.mixcloud
        %h2 Luister naar mij
        %iframe{:frameborder => "0", :height => "180", :src => "https://www.mixcloud.com/widget/iframe/?feed=#{ mixcloud_url }", :width => "100%"}

      %footer
        = "©#{ Time.now.year } - Drunken Marias"
        %div
          %span
            %a{:href => "https://drunkenmarias.nl", :target => "_blank"} Drunken Marias
          %span
            %a{:href => "https://www.mixcloud.com/drunkenmarias/", :target => "_blank"} Mixcloud
